/*--------------------------------------------------------------
# Styling for(post page) & content-post.php
--------------------------------------------------------------*/
.post_item {
	padding: 1rem 0rem 1rem 0rem;
	max-width: 85ch;
	a {
		text-decoration: none;
		color: black;
		font-family: 'Montserrat', sans-serif;
	}

	.post_info {
		color: $text-detail-color;
		font-weight: 400;
		font-size: 1rem;
		margin: 1rem 0rem 1rem 0rem;
	}

	/* Title of the post */
	.post_title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}

.post_info a::after {
	content: ' / ';
	color: $pseudo-detail;
}

.post_info::after {
	content: ' / ';
	color: $pseudo-detail;
}

.heading::after {
	content: '';
	display: block;
	width: 10%;
	height: 1px;
	background-color: $pseudo-detail;
	margin: 1.5rem auto;
}

.post_item::after {
	content: '';
	display: block;
	width: 10%;
	height: 1px;
	background-color: #e5e5e5;
	margin: 1.5rem auto; /* Center horizontally with 'auto' for left and right margins */
}
