/*--------------------------------------------------------------
# Footer styling
--------------------------------------------------------------*/

.footer_wrapper {
	margin-top: auto;

	footer {
		background-color: $footer-bg-color;
		color: $footer-text-color;
	}
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/ocean.jpg');
	height: calc(100vh - 56px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

	h1 {
		font-weight: bolder;
	}
}

.scroll-down-arrow {
	position: absolute;
	bottom: 20px; /* Adjust this value to position the arrow vertically */
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 3rem;
	opacity: 1;
	transition: opacity 1s ease 0s;
	animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		color: white; /* Initial color */
	}
	50% {
		transform: scale(1.1);
		color: rgb(216, 216, 216);
	}
	100% {
		transform: scale(1);
		color: white; /* Return to initial color */
	}
}
