/*--------------------------------------------------------------
# Styling for(post page) & content-post.php
--------------------------------------------------------------*/
.post_item {
	padding: 1rem 0rem 1rem 0rem;
	a {
		text-decoration: none;
		color: black;
	}

	.post_info {
		color: grey;
		font-weight: 400;
		font-size: 1rem;
		margin: 1rem 0rem 1rem 0rem;
	}

	/* Title of the post */
	.post_title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}
