/*--------------------------------------------------------------
# Styling for single.php & content-post.php
--------------------------------------------------------------*/
.post_item {
	padding: 1rem 0rem 1rem 0rem;
	max-width: 85ch;
	.post_href {
		text-decoration: none;
		color: #222222;
	}

	.post_href:hover {
		color: $hover-details-color;
	}

	/* Post title href to content */
	.post_info {
		color: $text-detail-color;
		font-weight: 500;
		font-size: 1rem;
		margin: 1rem 0rem 1rem 0rem;
	}

	/* Title of the post */
	.post_title {
		font-size: 1.7rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	.post_thumb img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 0.2s;
		margin-bottom: 0.5rem;
		max-width: 500px;
	}

	/* post img if single */
	.post_thumb_single img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 0.2s;
		margin-bottom: 0.5rem;
	}

	.post_thumb img:hover {
		opacity: 0.8;
	}
}

.entry_title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

/*Button styling */
.link_more_btn {
	text-transform: uppercase;
	display: inline-block;
	border: solid $detail-color 3px;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.65rem 1.6rem;
	border-radius: 1px;
	transition: 0.4s;
	margin-top: 2rem;
	color: $text-p-color;
	text-decoration: none;
	cursor: pointer;
}

.link_more_btn:hover {
	border: solid 3px $hover-details-color;
	color: $hover-details-color;
}
/* end of button */

/* image settings on post content for a single page */
.img_banner_single {
	position: relative;
}

.img_banner_single img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
	transition: transform 0.2s;
	// margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		max-height: 450px;
	}
}

.img_banner_single:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.5) 100%);
}

.text_banner {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	z-index: 1000;
	padding: 2rem 0;
	max-width: 85ch;
}

.entry_meta {
	opacity: 0.8;
	font-size: 1rem;
	font-weight: 600;
}

.entry_author a {
	text-decoration: none;
	color: #ffffff;
}

.entry_author a:hover {
	color: $hover-details-color;
}

/* Psudo after content */
.post_info a::after {
	content: ' / ';
	color: $pseudo-detail;
	margin: 0rem 0.2rem;
}

.post_info::after {
	content: ' / ';
	color: $pseudo-detail;
	margin: 0rem 0.2rem;
}

.post_item::after {
	content: '';
	display: block;
	width: 15%;
	height: 1px;
	background-color: $pseudo-detail;
	margin: 2rem auto;
}

.meta_wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

/*--------------------------------------------------------------
# entry footer, author image and author link
--------------------------------------------------------------*/
.entry_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;

	.post_author {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.avatar {
		width: 65px;
		height: 65px;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}

	span {
		text-align: center;
	}
}
