/*--------------------------------------------------------------
# Styling for(post page) & content-post.php
--------------------------------------------------------------*/
.post_item {
	padding: 1rem 0rem 1rem 0rem;
	max-width: 85ch;
	a {
		text-decoration: none;
		color: #222222;
	}

	.post_info {
		color: $text-detail-color;
		font-weight: 500;
		font-size: 1rem;
		margin: 1rem 0rem 1rem 0rem;
	}

	/* Title of the post */
	.post_title {
		font-size: 1.7rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}
}

.post_info a::after {
	content: ' / ';
	color: $pseudo-detail;
	margin: 0rem 0.2rem;
}

.post_info::after {
	content: ' / ';
	color: $pseudo-detail;
	margin: 0rem 0.2rem;
}

.post_item::after {
	content: '';
	display: block;
	width: 15%;
	height: 1px;
	background-color: $pseudo-detail;
	margin: 2rem auto;
}
