/*--------------------------------------------------------------
# Site wide styles
--------------------------------------------------------------*/
.page_title::after {
	content: '';
	display: block;
	width: 15%;
	height: 1px;
	background-color: $pseudo-detail; /* Set the color as desired */
	margin: 3rem auto;
}

.page_title {
	margin-bottom: 2rem;
}
