/*--------------------------------------------------------------
# Theme colors
--------------------------------------------------------------*/

$footer-bg-color: black;
$footer-text-color: white;
$footer-details-color: #78787f;
