/*--------------------------------------------------------------
# Theme colors
--------------------------------------------------------------*/

$footer-bg-color: #101010;
$footer-text-color: white;
$footer-details-color: #78787f;

$nav-bg-color: #101010;

$text-p-color: #78787f;
$text-detail-color: #575757;

$hover-details-color: #0bb4aa;

$pseudo-detail: #e5e5e5;
