/*--------------------------------------------------------------
# Hero section component with essential styles
--------------------------------------------------------------*/

/* Container div with background-image*/
.hero_image {
	height: calc(100vh - 56px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	/* Title text */
	.hero_text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;

		h1 {
			font-weight: bolder;
		}
	}

	/* Scroll down Bootstrap icon that goes to content */
	.scroll-down-arrow {
		position: absolute;
		bottom: 20px; /* Adjust this value to position the arrow vertically */
		left: 50%;
		transform: translateX(-50%);
		color: white;
		font-size: 3rem;
		opacity: 1;
		transition: opacity 1s ease 0s;
		animation: pulsate 1.5s infinite;
	}

	/* Keyframe animation that makes the Bootstraå icon pulsate */
	@keyframes pulsate {
		0% {
			transform: scale(1);
			color: white; /* Initial color */
		}
		50% {
			transform: scale(1.1);
			color: rgb(216, 216, 216);
		}
		100% {
			transform: scale(1);
			color: white; /* Return to initial color */
		}
	}
}
