.navbar-brand {
	margin-left: 3rem;
	font-size: 2rem;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

/* Initial styles for the transparent navbar */
#navbar {
	background-color: transparent;
	transition: background-color 0.5s; /* Add a smooth transition effect */
}

/* Styles when the navbar becomes black on scroll */
#navbar.navbar-scrolled {
	background-color: #000; /* Set your desired background color */
}

.offcanvas-body,
.offcanvas-header {
	background-color: black;
}
